fastapi  # api framework
uvicorn  # api runner
pymongo  # database backend
loguru  # logging
python-dotenv  # load .env files
pydantic >= 1.4  # dataclasses + settings
requests  # requests for tests/tools
ward  # test framework
